<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ordemsevico?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">3412</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="br.com.lsi.ordemservico.modelo.Equipamento"/>
    <mapping class="br.com.lsi.ordemservico.modelo.Funcionario"/>
    <mapping class="br.com.lsi.ordemservico.modelo.Produto"/>
    <mapping class="br.com.lsi.ordemservico.modelo.Servico"/>
    <mapping class="br.com.lsi.ordemservico.modelo.Empresa"/>
    <mapping class="br.com.lsi.ordemservico.modelo.Marca"/>
    <mapping class="br.com.lsi.ordemservico.modelo.Pessoa"/>
    <mapping class="br.com.lsi.ordemservico.modelo.Cliente"/>
    <mapping class="br.com.lsi.ordemservico.modelo.Contato"/>
  </session-factory>
</hibernate-configuration>
